@font-face {
    font-family: "Quantico";
    src: url('assets/fonts/quantico/Quantico.eot?#iefix') format('embedded-opentype'),
          url('assets/fonts/quantico/Quantico.woff') format('woff'),
          url('assets/fonts/quantico/Quantico.ttf')  format('truetype'),
          url('assets/fonts/quantico/Quantico.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sofia";
    src: url('fonts/Sofia.eot?#iefix') format('embedded-opentype'),
          url('fonts/Sofia.woff') format('woff'),
          url('fonts/Sofia.ttf')  format('truetype'),
          url('fonts/Sofia.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{
  padding: 0;
  margin: 0;
  font-family: "Quantico", sans-serif;
}

body{
  background-color: #ffc6aa;
}

input{
  display: none;
}

#start-upload-button{
  font-size: 32px;
  border: solid 2px black;
  border-radius: 16px;
  padding: 8px;
  margin: 70px;
}

#start-upload-button:hover{
  color: white;
  background-color: black;
}

#end-upload-button{
  font-size: 32px;
  border: solid 2px black;
  border-radius: 16px;
  padding: 8px;
  display: inline-block;
  margin: 4px 10%;
  text-align: center;
}

#end-upload-button:hover{
  color: white;
  background-color: black;
}

#fileloader{
  display: block;
  width: 400px;
  margin: 16px auto;
}

#container{
  width: 75%;
  margin: 0 auto;
  height: 100%;
  display: none;
}

#sidebar{
  background-color: #aadeff;
  float:left;
  width: 20%;
}

#matchinfo{
  display: none;
}

#teaminfo{
  display: none;
}

#sidebar a{
  text-decoration: none;
}

#sidebar h1{
  margin: 4px;
  color: black;
}

#sidebar h1:hover{
  color: white;
}

#main{
  background-color: #aadeff;
  float:right;
  width: 78%;
  height: 100%;
  border: 0px 0px 1px 0px solid black;
}

#teaminfomain{
  display: none;
}

#teaminfomain img{
  display: block;
  margin: 32px auto;
}

#teaminfomain h1{
  font-size: 64px;
  text-align: center;
}

#teaminfomain h2{
  font-size: 32px;
  margin: 2% 5%;
}
